@import "variables";

body {
  background: map-get($colors, background);
  color: map-get($colors, foreground);
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: 'Open Sans', sans-serif;
}
