<!doctype html>
<html lang="en">
<head>
    {{ partial "head/metadata.html" . }}
    {{ partial "head/styles.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
</head>
<body>
<div id="app">
  {{ partial "main/nav.html" . }}

  {{ block "main" . }}
  {{ end }}

  {{ block "footer" . }}
  {{ end }}
</div>
{{ partial "foot/scripts.html" . }}
</body>
</html>
