<nav>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}" title="{{ .Title }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
    </ul>
</nav>