{{ define "main" }}
<main>
    <header>
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{ . }}</span>
        {{ end }}
    </header>

    <div class="homepage-content">
        {{ .Content }}
    </div>

    <div>
        {{ range first 10 .Data.Pages }}
            {{ .Render "summary" }}
        {{ end }}
    </div>
</main>
{{ end }}