<script src='/{{ index .Site.Data.themeManifest "themeVendor.js" }}'></script>
<script src='/{{ index .Site.Data.themeManifest "theme.js" }}'></script>

{{ if .Site.GoogleAnalytics }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
{{ end }}
